@page "/voting"

<h1>Ballot Paper</h1>
<MudText>Presidential Candidates</MudText>


<!DOCTYPE html>
<html>
<body>

    <p>
            <a href="https://www.w3schools.com">
            <img border="0" alt="W3Schools" src="images/clarence.png" width="300" height="300">
            <br/>
        </a>
    </p>

</body>
</html>

@code {

}
