@inherits LayoutComponentBase
<MudThemeProvider  />
<MudDialogProvider />
<MudSnackbarProvider />
<main>
    <div class="mt-6">
        <br/>
        <br/>
        <br/>
        @Body
    </div>    
</main>