@inherits LayoutComponentBase
<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25">
           @Body
        </MudPaper>
    </div>
</MudContainer>